<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3WOXxxCfizEp8D2o2MtmQf8rzvhI94RE</string>
	<key>GCM_SENDER_ID</key>
	<string>789801348952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.presents.demo</string>
	<key>PROJECT_ID</key>
	<string>facebook-1f364</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-1f364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789801348952:ios:0e77138ad250561606bf2d</string>
</dict>
</plist>